build/
.vscode
*.txt.user
/build-TestPalette-Desktop-Debug/
/build-TestPalette-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/
/build-TestPalette-Desktop_Qt_5_12_3_MSVC2017_32bit-Debug/
*.user
*.txt.user.40764ce.4.8-pre1
